name: Build Binaries for Release

on:
  release:
    types: [published]

permissions:
  contents: write
  packages: write

jobs:
  build:
    name: Build release binaries
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, darwin]
        goarch: [amd64, arm64]
        exclude:
          - goarch: arm64 
            goos: linux
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Build Go binaries
        id: buildgo
        uses: wangyoucao577/go-release-action@v1
        with:
          upload: true
          overwrite: true
          compress_assets: "OFF" 
          pre_command: "export CGO_ENABLED=0"
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          goversion: "1.24"
          binary_name: "gocommit"
          project_path: ./cmd/gocommit
          release_tag: ${{ github.event.release.tag_name }}
          release_name: ${{ github.event.release.tag_name }}
          ldflags: -s -X main.version=${{ github.event.release.tag_name }}
      - name: Show release asset directory
        run: ls -alR ${{ steps.buildgo.outputs.release_asset_dir }}
  debian:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Download Linux binary from release
        run: |
          VERSION=${{ github.event.release.tag_name }}
          wget https://github.com/${{ github.repository }}/releases/download/${VERSION}/gocommit-${VERSION}-linux-amd64 -O gocommit
          chmod +x gocommit
      - name: Install dpkg tools
        run: sudo apt-get update && sudo apt-get install -y dpkg-dev
      - name: Create Debian package
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          mkdir -p gocommit_${VERSION}_amd64/usr/local/bin
          cp gocommit gocommit_${VERSION}_amd64/usr/local/bin/gocommit
          chmod 755 gocommit_${VERSION}_amd64/usr/local/bin/gocommit
          mkdir -p gocommit_${VERSION}_amd64/DEBIAN
          cat <<EOF > gocommit_${VERSION}_amd64/DEBIAN/control
          Package: gocommit
          Version: ${VERSION}
          Section: utils
          Priority: optional
          Architecture: amd64
          Maintainer: vicendominguez [https://github.com/vicendominguez]
          Description: Automatically generate and create Git commits using ollama
          EOF
          dpkg-deb --build gocommit_${VERSION}_amd64
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: gocommit_**.deb
